@model FileSharingAPP.Models.ChangePasswordViewModel
@{
	ViewData["Title"] = "Change Password";
}

<!-- Start Contact -->
<section id="mu-contact">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="mu-contact-area" style="padding-top:0px">
					<!-- Title -->
					<div class="row">
						<div class="col-md-12">
							<div class="mu-title">
								<h2 class="text-capitalize">Settings</h2>
								<p class="text-danger">Change your password...</p>
							</div>
						</div>
					</div>
					<!-- Start Contact Content -->
					<div class="mu-contact-content">
						<div class="row">

							<div class="col-md-12">
								<div class="mu-contact-form-area">
									<div id="form-messages"></div>
									<form method="post" asp-action="ChangePassword" asp-controller="Account" class="mu-contact-form">
										<div class="text-danger" asp-validation-summary="ModelOnly"></div>
										<div class="form-group">
											<span class="fa fa-lock mu-contact-icon"></span>
											<input asp-for="CurrectPassword" type="password" class="form-control" placeholder="Password" id="name" name="name" required >
											<span asp-validation-for="CurrectPassword"></span>
										</div>

										<div class="form-group">
											<span class="fa fa-lock mu-contact-icon"></span>
											<input asp-for="NewPassword" type="password" class="form-control" placeholder="New Password" id="email" name="email" required>
											<span asp-validation-for="NewPassword"></span>
										</div>

										<div class="form-group">
											<span class="fa fa-lock mu-contact-icon"></span>
											<input asp-for="ConfirmNewPassword" type="password" class="form-control" placeholder="Confirm New Password" id="subject" name="subject" required>
											<span asp-validation-for="ConfirmNewPassword"></span>
										</div>
										<button type="submit" class="mu-send-msg-btn"><span>Change</span></button>
									</form>
								</div>
							</div>

						</div>
					</div>
					<!-- End Contact Content -->
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End Contact -->
