@model FileSharingAPP.Models.UserViewModel
@{
	ViewData["Title"]="Info";
}
<h2 class="text-primary">Info</h2>
<p>
	@* <strong>Logged In User : : @Model.Firstname</strong><br>
	<strong>Logged In User : : @Model.Lastname</strong><br>
	<strong>Logged In User : : @Model.Email</strong><br> *@
	<strong>Logged In User :: @User.Identity.Name</strong>

</p>
<br />
<h2 class="text-primary">Manage</h2>
<a class="btn btn-outline-primary" asp-action="" asp-controller="">Change password</a>
