@model FileSharingAPP.Models.UserViewModel

@{
	ViewData["Title"]="Info";
}
<p class="text-center">
	<strong>Logged In User :: @User.Identity.Name</strong>
</p>
<br />
@* <h2 class="text-primary">Manage</h2>
<a class="btn btn-outline-primary" asp-action="" asp-controller="">Change password</a> *@

@{
	await Html.RenderPartialAsync("_ChangePasswordPartial", new ChangePasswordViewModel());
}
