@model FileSharingAPP.Models.LoginViewModel
@inject IViewLocalizer localizer;
@{
	ViewData["Title"] = @localizer["Title"];
}
<hr />

<section id="mu-contact">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="mu-contact-area" style="padding-top:0px">
					<!-- Title -->
					<div class="row">
						<div class="col-md-12">
							<div class="mu-title">
								<h2>@localizer["LoginHeader"]</h2>
							</div>
						</div>
					</div>
					<!-- Start Contact Content -->
					<div class="mu-contact-content">
						<div class="row">
							<div class="col-md-12">
								<div class="mu-contact-form-area">
									<div id="form-messages"></div>
									<form asp-action="Login">
										<div asp-validation-summary="ModelOnly" class="text-danger"></div>
										<div class="form-group text-danger">
											<input asp-for="Email" type="email" class="form-control" placeholder=@localizer["UserEmail"]  required>
											<span asp-validation-for="Email"></span>
										</div>
										<div class="form-group text-danger">
											<input asp-for="Password" type="password" class="form-control" placeholder=@localizer["UserPassword"]  required>
											<span asp-validation-for="Password"></span>
										</div>
										<button type="submit" class="mu-send-msg-btn"><span>@localizer["Loginbtn"]</span></button>
									</form>
								</div>
							</div>
						</div>
						<div class="row pt-4">
							<div class="col-6">
								<a class="btn btn-outline-primary" asp-action="ExternalLogin" asp-route-provider="Facebook" asp-controller="Account">Login with facebook</a>
							</div>
							<div class="col-6">
								<a class="btn btn-outline-danger" asp-action="ExternalLogin" asp-route-provider="Google" asp-controller="Account">Login with google</a>
							</div>
						</div>
						<div class="col-md-12" style="padding-top:15px">
							<a  class="btn btn-outline-danger" asp-action="ForgotPassword" asp-controller="Account" >Forgot Password!</a>
						</div>
					</div>
					<!-- End Contact Content -->
				</div>
			</div>
		</div>
	</div>
</section>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}